.grid {
    display: grid;
    gap: var(--static-space-16);
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    @media (max-width: 640px) {
        grid-template-columns: 1fr;
    }
}